@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid transparent; /* Transparent border for spacing */
    background-clip: content-box; /* To ensure the thumb is properly padded */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #45a049; /* Darker shade when hovered */
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the track behind the thumb */
    border-radius: 10px; /* Rounded corners for the track */
  }
